<element name="dateTime" extends="section">
  <template>

    <gaia-header action="back" data-href="#root">
      <h1 data-l10n-id="dateAndTime-header"></h1>
    </gaia-header>

    <div>
      <ul class="time-auto" data-state="auto" hidden>
        <li>
          <label class="pack-switch">
            <input type="checkbox" name="time.clock.automatic-update.enabled" class="uninit">
            <span data-l10n-id="setTimeAutomatically">Set Automatically</span>
          </label>
        </li>
      </ul>
      <ul class="time-manual">
        <li>
          <label>
            <input type="date" class="date-picker" min="1970-1-1" max="2035-12-31"/>
          </label>
          <p data-l10n-id="dateMessage">Date</p>
          <span class="clock-date button icon icon-dialog"></span>
        </li>
        <li>
          <label>
            <input type="time" class="time-picker" />
          </label>
          <p data-l10n-id="timeMessage">Time</p>
          <span class="clock-time button icon icon-dialog"></span>
        </li>
      </ul>

      <header>
        <h2 data-l10n-id="timezoneMessage">Time Zone</h2>
      </header>
      <ul class="timezone">
        <li>
          <p data-l10n-id="tz-region">Region</p>
          <span class="button icon icon-dialog">
            <select class="timezone-region"></select>
          </span>
        </li>
        <li>
          <p data-l10n-id="tz-city">City</p>
          <span class="button icon icon-dialog">
            <select class="timezone-city"></select>
          </span>
        </li>
      </ul>

      <header>
        <h2 data-l10n-id="time-format">Format</h2>
      </header>
      <ul class="timeformat">
        <li>
          <p data-l10n-id="time-format-time">Time Format</p>
          <span class="button icon icon-dialog">
            <select class="time-format-time"></select>
          </span>
        </li>
      </ul>
    </div>

    <panel data-path="panels/date_time/panel"><panel>

  </template>
</element>
