<element name="developer" extends="section">
  <template>

    <gaia-header action="back" data-href="#root">
      <h1 data-l10n-id="developer-header"></h1>
    </gaia-header>

    <div>
      <header>
        <h2 data-l10n-id="developer-tools"></h2>
      </header>
      <ul>
        <li>
          <p data-l10n-id="remote-debugging-usb"></p>
          <span class="button icon icon-dialog">
            <select name="debugger.remote-mode" data-value-type="string">
              <option value="disabled" data-l10n-id="debugger-disabled" selected></option>
              <option value="adb-only" data-l10n-id="debugger-adb-only"></option>
              <option value="adb-devtools" data-l10n-id="debugger-adb-and-devtools"></option>
            </select>
          </span>
        </li>
        <li data-show-name="devtools.remote.wifi.visible" hidden>
          <label class="pack-checkbox">
            <input type="checkbox" name="devtools.remote.wifi.enabled">
            <span data-l10n-id="devtools-wifi"></span>
          </label>
        </li>
        <li data-show-name="devtools.remote.wifi.visible" hidden>
            <p data-l10n-id="devtools-device-name"></p>
            <input type="text" name="devtools.discovery.device" dir="auto">
        </li>
        <li>
          <a class="menu-item" href="#developer-hud">
            <span data-l10n-id="hud-settings-button"></span>
          </a>
        </li>
      </ul>
      <header>
        <h2 data-l10n-id="graphics"></h2>
      </header>
      <ul>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.paint-flashing.enabled">
            <span data-l10n-id="paint-flashing"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="apz.overscroll.enabled">
            <span data-l10n-id="apz-overscroll"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="layers.enable-tiles">
            <span data-l10n-id="tiling"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="layers.low-precision">
            <span data-l10n-id="low-precision"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="layers.low-opacity">
            <span data-l10n-id="low-opacity"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="layers.composer2d.enabled">
            <span data-l10n-id="hardware-composer"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="layers.draw-tile-borders">
            <span data-l10n-id="draw-tile-borders"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="layers.draw-borders">
            <span data-l10n-id="draw-layer-borders"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="layers.dump">
            <span data-l10n-id="dumps-layers"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="gfx.layerscope.enabled">
            <span data-l10n-id="dumps-layerscope"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="app.cards_view.screenshots.enabled">
            <span data-l10n-id="cards-view-screenshots"></span>
          </label>
        </li>
      </ul>
      <header>
        <h2 data-l10n-id="window-management"></h2>
      </header>
      <ul>
        <li class="software-home-button">
          <label class="pack-checkbox">
            <input type="checkbox" name="software-button.enabled">
            <span data-l10n-id="software-home-button"></span>
          </label>
        </li>
        <li class="homegesture">
          <label class="pack-checkbox">
            <input type="checkbox" name="homegesture.enabled">
            <span data-l10n-id="home-gesture"></span>
          </label>
        </li>
        <li id="continuoustransition">
          <label class="pack-checkbox">
            <input type="checkbox" name="continuous-transition.enabled">
            <span data-l10n-id="continuous-transition"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="app-transition.enabled">
            <span data-l10n-id="app-transition"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="app-suspending.enabled">
            <span data-l10n-id="app-suspending"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="copypaste.enabled">
            <span data-l10n-id="copypaste"></span>
          </label>
        </li>
      </ul>
      <header>
        <h2 data-l10n-id="debug"></h2>
      </header>
      <ul>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="devtools.qps.enabled">
            <span data-l10n-id="devtools-qps"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.log-animations.enabled">
            <span data-l10n-id="log-animations"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="geolocation.debugging.enabled">
            <span data-l10n-id="geolocation-debugging-enabled"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="geolocation.debugging.gps-locations-ignored">
            <span data-l10n-id="geolocation-debugging-gps-locations-ignored"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="wifi.debugging.enabled">
            <span data-l10n-id="wifi-debugging"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="bluetooth.debugging.enabled">
            <span data-l10n-id="bluetooth-debugging"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="bluetooth.snoop.enabled">
            <span data-l10n-id="bluetooth-snoop-debugging"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="nfc.debugging.enabled">
            <span data-l10n-id="nfc-debugging"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="ril.debugging.enabled">
            <span data-l10n-id="ril-debugging"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="network.debugging.enabled">
            <span data-l10n-id="network-debugging"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="mms.debugging.enabled">
            <span data-l10n-id="mms-debugging"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.console.enabled">
            <span data-l10n-id="console-enabled"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.gaia.enabled">
            <span data-l10n-id="debug-gaia-enabled"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="accessibility.screenreader-show-settings">
            <span data-l10n-id="showScreenReaderSettings"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="dom.mozApps.use_reviewer_certs">
            <span data-l10n-id="use-reviewer-certs"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="devtools.logshake">
            <span data-l10n-id="shake-to-log"></span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.verbose_app_permissions">
            <span data-l10n-id="verbose-app-permissions"></span>
          </label>
        </li>
        <li>
          <button class="ftuLauncher" data-l10n-id="launch-ftu"></button>
        </li>
      </ul>
      <header>
        <h2 data-l10n-id="unlock-privileges"></h2>
      </header>
      <ul>
        <li>
          <button class="reset-devtools" data-l10n-id="reset-devtools"></button>
        </li>
      </ul>
      <header>
        <h2 data-l10n-id="softwareUpdates"></h2>
      </header>
      <ul>
        <li>
          <p data-l10n-id="update-channel"></p>
          <input type="text" name="app.update.channel" dir="auto">
        </li>
        <li>
          <p data-l10n-id="update-url"></p>
          <input type="text" name="app.update.url" dir="auto">
        </li>
      </ul>
    </div>

    <panel data-path="panels/developer/panel"></panel>

  </template>
</element>
