<element name="wifi-manageCertificates" extends="section">
  <template>

    <gaia-header action="back" data-href="#wifi">
      <h1 data-l10n-id="manageCertificates"></h1>
    </gaia-header>

    <div>
      <header>
        <h2 data-l10n-id="certificateList"></h2>
      </header>
      <ul class="wifi-certificateList">
      </ul>
      <ul class="operate-certificate">
        <li>
          <button class="icon deleteCertificate" data-l10n-id="deleteCertificate" disabled="true"></button>
        </li>
        <li>
          <a class="menu-item importCertificate" href="#wifi-selectCertificateFile">
            <span data-l10n-id="importCertificate"></span>
          </a>
        </li>
      </ul>
    </div>

    <form role="dialog" data-type="confirm" class="certificate-deletion-failed" hidden>
      <section>
        <h1 data-l10n-id="certificate-deletion-failed"></h1>
        <p data-l10n-id="certificate-deletion-failed-description"></p>
      </section>
      <menu>
        <button data-l10n-id="ok" class="full danger" id="certificate-deletion-failed-confirm"></button>
      </menu>
    </form>

    <panel data-path="panels/wifi_manage_certificates/panel"></panel>

  </template>
</element>
